<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<link href="/polybee/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

<style>
header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

.empty-panel{
  height: 225px;
}

.panel-body{
  height: 170px;
}
</style>

<script>
  var myApp = angular.module('myApp',[]);

myApp.controller('MyCtrl', function($scope) {
        $scope.fillTable = function() {
            console.log("call");
        };
        $scope.fillTable();
});
</script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Polybee - Weather </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#home">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="bg-primary text-white" id="home">
  <div class="container text-center">
    <h1>Welcome to Weathers</h1>
    <p class="lead">A page to provide you with the weather conditions of 9 cities</p>
  </div>
</header>



<section>
  <div class="container">
    <div class="row">
       <!-- Start of city 1-->
      <div class="col-sm">
       
        <div class="card" *ngIf="cities[0].name else insert1">
          <h5 class="card-header" >{{cities[0].name}} <button type="button" class="btn btn-primary btn-sm" (click)="SetCity(0)" data-toggle="modal" data-target="#exampleModal">Edit</button></h5>
          <div class="card-body panel-body" [ngStyle]="{'background-image': 'url(' + cities[0].image + ')', 'background-repeat': 'no-repeat', 'background-position': 'center', 'background-size': '50%'}">
            <h5 class="card-title">{{cities[0].weather}}</h5>
            <p class="card-text" >{{cities[0].description}}</p>
            <p class="card-text" >{{cities[0].temperature}} °C</p>
         
          </div>
        </div>
        <ng-template #insert1>
          <div class="card">
            <div class="card-body empty-panel" > 
              <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal" (click)="SetCity(0)">Click to add City</button>
            </div>
          </div>

        </ng-template>
      <br/>
      </div>
      <!-- End of city 1 -->

       <!-- Start of city 2-->
       <div class="col-sm">
       
        <div class="card" *ngIf="cities[1].name else insert2">
          <h5 class="card-header" >{{cities[1].name}} <button type="button" class="btn btn-primary btn-sm" (click)="SetCity(1)" data-toggle="modal" data-target="#exampleModal">Edit</button></h5>
          <div class="card-body panel-body" [ngStyle]="{'background-image': 'url(' + cities[1].image + ')', 'background-repeat': 'no-repeat', 'background-position': 'center', 'background-size': '50%'}">
            <h5 class="card-title">{{cities[1].weather}}</h5>
            <p class="card-text" >{{cities[1].description}}</p>
            <p class="card-text" >{{cities[1].temperature}} °C</p>
         
          </div>
        </div>
        <ng-template #insert2>
          <div class="card">
            <div class="card-body empty-panel" > 
              <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal" (click)="SetCity(1)">Click to add City</button>
            </div>
          </div>

        </ng-template>
      <br/>
      </div>
      <!-- End of city 2-->

      <!-- Start of city 3-->
      <div class="col-sm">
       
        <div class="card" *ngIf="cities[2].name else insert3">
          <h5 class="card-header" >{{cities[2].name}} <button type="button" class="btn btn-primary btn-sm" (click)="SetCity(2)" data-toggle="modal" data-target="#exampleModal">Edit</button></h5>
          <div class="card-body panel-body" [ngStyle]="{'background-image': 'url(' + cities[2].image + ')', 'background-repeat': 'no-repeat', 'background-position': 'center', 'background-size': '50%'}">
            <h5 class="card-title">{{cities[2].weather}}</h5>
            <p class="card-text" >{{cities[2].description}}</p>
            <p class="card-text" >{{cities[2].temperature}} °C</p>
         
          </div>
        </div>
        <ng-template #insert3>
          <div class="card">
            <div class="card-body empty-panel" > 
              <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal" (click)="SetCity(2)">Click to add City</button>
            </div>
          </div>

        </ng-template>
      <br/>
      </div>
      <!-- End of city 3-->
    </div>

    <div class="row">
        <!-- Start of city 4-->
        <div class="col-sm">
        
         <div class="card" *ngIf="cities[3].name else insert4">
           <h5 class="card-header" >{{cities[3].name}} <button type="button" class="btn btn-primary btn-sm" (click)="SetCity(3)" data-toggle="modal" data-target="#exampleModal">Edit</button></h5>
           <div class="card-body panel-body" [ngStyle]="{'background-image': 'url(' + cities[3].image + ')', 'background-repeat': 'no-repeat', 'background-position': 'center', 'background-size': '50%'}">
             <h5 class="card-title">{{cities[3].weather}}</h5>
             <p class="card-text" >{{cities[3].description}}</p>
             <p class="card-text" >{{cities[3].temperature}} °C</p>
          
           </div>
         </div>
         <ng-template #insert4>
           <div class="card">
             <div class="card-body empty-panel" > 
               <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal" (click)="SetCity(3)">Click to add City</button>
             </div>
           </div>
 
         </ng-template>
       <br/>
       </div>
       <!-- End of city 4 -->

        <!-- Start of city 5-->
        <div class="col-sm">
        
         <div class="card" *ngIf="cities[4].name else insert5">
           <h5 class="card-header" >{{cities[4].name}} <button type="button" class="btn btn-primary btn-sm" (click)="SetCity(4)" data-toggle="modal" data-target="#exampleModal">Edit</button></h5>
           <div class="card-body panel-body" [ngStyle]="{'background-image': 'url(' + cities[4].image + ')', 'background-repeat': 'no-repeat', 'background-position': 'center', 'background-size': '50%'}">
             <h5 class="card-title">{{cities[4].weather}}</h5>
             <p class="card-text" >{{cities[4].description}}</p>
             <p class="card-text" >{{cities[4].temperature}} °C</p>
          
           </div>
         </div>
         <ng-template #insert5>
           <div class="card">
             <div class="card-body empty-panel" > 
               <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal" (click)="SetCity(4)">Click to add City</button>
             </div>
           </div>
 
         </ng-template>
       <br/>
       </div>
       <!-- End of city 5 -->
       <!-- Start of city 6-->
       <div class="col-sm">
        
        <div class="card" *ngIf="cities[5].name else insert6">
          <h5 class="card-header" >{{cities[5].name}} <button type="button" class="btn btn-primary btn-sm" (click)="SetCity(5)" data-toggle="modal" data-target="#exampleModal">Edit</button></h5>
          <div class="card-body panel-body" [ngStyle]="{'background-image': 'url(' + cities[5].image + ')', 'background-repeat': 'no-repeat', 'background-position': 'center', 'background-size': '50%'}">
            <h5 class="card-title">{{cities[5].weather}}</h5>
            <p class="card-text" >{{cities[5].description}}</p>
            <p class="card-text" >{{cities[5].temperature}} °C</p>
         
          </div>
        </div>
        <ng-template #insert6>
          <div class="card">
            <div class="card-body empty-panel" > 
              <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal" (click)="SetCity(5)">Click to add City</button>
            </div>
          </div>

        </ng-template>
      <br/>
      </div>
      <!-- End of city 6 -->


    </div>

    <div class="row">
      <!-- Start of city 7-->
      <div class="col-sm">
          
        <div class="card" *ngIf="cities[6].name else insert7">
          <h5 class="card-header" >{{cities[6].name}} <button type="button" class="btn btn-primary btn-sm" (click)="SetCity(6)" data-toggle="modal" data-target="#exampleModal">Edit</button></h5>
          <div class="card-body panel-body" [ngStyle]="{'background-image': 'url(' + cities[6].image + ')', 'background-repeat': 'no-repeat', 'background-position': 'center', 'background-size': '50%'}">
            <h5 class="card-title">{{cities[6].weather}}</h5>
            <p class="card-text" >{{cities[6].description}}</p>
            <p class="card-text" >{{cities[6].temperature}} °C</p>
        
          </div>
        </div>
        <ng-template #insert7>
          <div class="card">
            <div class="card-body empty-panel" > 
              <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal" (click)="SetCity(6)">Click to add City</button>
            </div>
          </div>

        </ng-template>
      <br/>
      </div>
      <!-- End of city 7 -->
      <!-- Start of city 8-->
      <div class="col-sm">
          
        <div class="card" *ngIf="cities[7].name else insert8">
          <h5 class="card-header" >{{cities[7].name}} <button type="button" class="btn btn-primary btn-sm" (click)="SetCity(7)" data-toggle="modal" data-target="#exampleModal">Edit</button></h5>
          <div class="card-body panel-body" [ngStyle]="{'background-image': 'url(' + cities[7].image + ')', 'background-repeat': 'no-repeat', 'background-position': 'center', 'background-size': '50%'}">
            <h5 class="card-title">{{cities[7].weather}}</h5>
            <p class="card-text" >{{cities[7].description}}</p>
            <p class="card-text" >{{cities[7].temperature}} °C</p>
        
          </div>
        </div>
        <ng-template #insert8>
          <div class="card">
            <div class="card-body empty-panel" > 
              <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal" (click)="SetCity(7)">Click to add City</button>
            </div>
          </div>

        </ng-template>
      <br/>
    </div>
    <!-- End of city 8 -->
    <!-- Start of city 9-->
    <div class="col-sm">
    
      <div class="card" *ngIf="cities[8].name else insert9">
        <h5 class="card-header" >{{cities[8].name}} <button type="button" class="btn btn-primary btn-sm" (click)="SetCity(8)" data-toggle="modal" data-target="#exampleModal">Edit</button></h5>
        <div class="card-body panel-body" [ngStyle]="{'background-image': 'url(' + cities[8].image + ')', 'background-repeat': 'no-repeat', 'background-position': 'center', 'background-size': '50%'}">
          <h5 class="card-title">{{cities[8].weather}}</h5>
          <p class="card-text" >{{cities[8].description}}</p>
          <p class="card-text" >{{cities[8].temperature}} °C</p>
      
        </div>
      </div>
      <ng-template #insert9>
        <div class="card">
          <div class="card-body empty-panel" > 
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal" (click)="SetCity(8)">Click to add City</button>
          </div>
        </div>

      </ng-template>
    <br/>
  </div>
  <!-- End of city 9 -->    
  </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Enter City:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
            <input class="form-control" type="text" placeholder="Enter your city: (e.g. Singapore, London)" #txtCity>
            <p *ngIf="cityError" class="text-danger">The city name you entered is not valid. Please try again.</p>
            <br/>
            
          
          </div>
          <div class="modal-footer">
            
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="CheckCityName(txtCity)">Save changes</button>
          </div>
        </div>
      </div>
    </div>


    
  </div>
</section>



<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Polybee 2020</p>
  </div>
  <!-- /.container -->
</footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/polybee/src/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/polybee/src/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/polybee/src/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="/polybee/src/assets/js/scrolling-nav.js"></script>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>